@page "/people/edit/{PersonId:int}"
@inject IPeopleRepository peopleRepository
@inject NavigationManager navigationManager

<h3>Edit Person</h3>

@if (person != null)
{
    <PersonForm Person="person" Submit="Edit" />
}

@code {
    [Parameter]
    public int PersonId { get; set; }

    public Person person;

    protected override async Task OnInitializedAsync()
    {
        person = await peopleRepository.GetPersonById(PersonId);
    }

    private async Task Edit()
    {
        await peopleRepository.UpdatePerson(person);
        navigationManager.NavigateTo("people");
    }
}