@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4" style="margin-bottom: 20px;">
            @*using cascading values to propagate parameters to all children of this component *@
            @*the Color value will be accessible through whole application*@
            @*<CascadingValue Value="@Color">
            @Body
            </CascadingValue>*@

            @*pass multiple cascading parameters*@
            @*<CascadingValue Value="@Color" Name="Color">
                <CascadingValue Value="@Size" Name="Size">
                @Body
                </CascadingValue>
            </CascadingValue>*@

            @*pass multiple values in one cascading parameter: use class object*@
            <CascadingValue Value="@appState">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private string Color = "red";
    private string Size = "18px";

    public class AppState {
        public string Color { get; set; } = "red";
        public string Size { get; set; }  = "18px";
    }

    AppState appState = new AppState();
}