@*use render fragments*@
<div>
    <div style="background-color: lightcyan">
        @Hello
    </div>
    <div style="background-color: lightyellow">
        @Notify
    </div>
</div>



@code {
    // if you want to render more render fragments content use special named render fragment
    [Parameter]
    public RenderFragment Notify { get; set; }

    [Parameter]
    public RenderFragment Hello { get; set; }
}
