@page "/movies/create"
@attribute [Authorize(Roles = "Admin")]

@*NavigationManager service is used to programatically navigate user to another pages of the application*@
@inject NavigationManager navigationManager

@inject IMoviesRepository moviesRepository
@inject IGenreRepository genreRepository

<h3>Create Movie</h3>

@if(genres != null)
{
    <MovieForm Movie="movie" NotSelectedGenres="genres" Submit="SaveMovie" />
}


@code {
    private Movie movie = new Movie();

    private List<Genre> genres;

    protected override async Task OnInitializedAsync()
    {
        genres = await genreRepository.GetGenres();
    }

    private async Task SaveMovie()
    {
        try
        {
            var movieId = await moviesRepository.CreateMovie(movie);
            //redirect user to /movie
            navigationManager.NavigateTo($"movie/{movieId}/{movie.Title.Replace(" ", "-")}");

            //current URL at which the user is
            //Console.WriteLine(navigationManager.Uri);
        }
        catch (Exception ex)
        {
            throw;
        }

        
    }

}
