@page "/movies/create"

@*NavigationManager service is used to programatically navigate user to another pages of the application*@
@inject NavigationManager navigationManager

<h3>Create Movie</h3>

<MovieForm Movie="movie" NotSelectedGenres="genres" Submit="SaveMovie" />

@code {
    private Movie movie = new Movie();

    private List<Genre> genres = new List<Genre>()
    {
        new Genre(){Id=1, Name="Action"},
        new Genre(){Id=2, Name="Comedy"},
        new Genre(){Id=3, Name="SciFi"}
    };

    private void SaveMovie()
    {
        //saving movie...

        //current URL at which the user is
        Console.WriteLine(navigationManager.Uri);
        //redirect user to /movie
        navigationManager.NavigateTo("/");
    }

}
