@page "/"
@page "/index"

@*dependency injection of configured (in Program.cs) service*@
@inject IRepository repository;


<PageTitle>Index</PageTitle>

<div>
    <h3>Movies</h3>
    <MoviesList Movies="movies" />
</div>

<label>Search:</label>
<Typeahead SearchMethod="SearchMethod">
    <ResultTemplate>
        @context
    </ResultTemplate>
</Typeahead>

<br />

<button @onclick="AddMovie">Add new movie</button>


@code {
    private List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);

        //delegate obtaining the movies to a service
        movies = repository.GetMovies();
    }

    private async Task<IEnumerable<string>> SearchMethod(string searchText)
    {
        await Task.Delay(3000);

        if(searchText == "test")
        {
            return Enumerable.Empty<string>();
        }

        return new List<string>() { "Harrison Ford", "Carrie Fisher" };
    }

    private void AddMovie()
    {
        this.movies.Add(new Movie() { Title = "Star Wars: The Phantom Menace", ReleaseDate = new DateTime(1999, 05, 19) });
    }

}
